Package: me.kritanta.reachcc13
Name: ReachCC13
Depends: mobilesubstrate
Version: 0.1.0
Architecture: iphoneos-arm
Description: Activate CC Using Reachability Gesture
Maintainer: Kritanta
Author: Kritanta
Section: Tweaks
